<li>
	
	 <%= gravatar_for applicant, size: 50 %>
	 <%= link_to applicant.name, applicant %>
	 <% if !current_user.nil? && current_user.admin? && !current_user?(applicant)%>
	 	 | <%= link_to "Delete", applicant, method: :delete, data: {confirm: "Are you sure?"} %>
	 <% end %>
	
</li>
