<h1>Applicants List</h1>

<%= will_paginate %>

<ul class="applicants"> 
	<%= render @applicants %>    
</ul>

<%= will_paginate %>

<br>
<div class="center"><%= link_to "Go back", applicant_path(current_user), class: "btn btn-lg btn-primary" %></div>
