<div class="col-sm-6 col-sm-offset-3 center">
	<h1>Contact Us</h1>
	<div style="background-color:lavender;">
		<h1 style="font-size: 2em; padding-top:20px;"> </h1>
		<h2>Mailing Address </h2>
		<p>2424 Kent Street Bryan, Texas 77802</p>
		<h2>Phone </h2>
		<p>(979) 703-8813</p>
		<h2>Fax </h2>
		<p>(979) 822-0608</p>
		<h2>Email </h2>
		<p>info@scottyshouse.org</p>
	</div>
	<div style="background-color:lavenderblush;">	
		<h1 style="font-size: 2em; margin-bottom: 40px; padding-top:40px;">Additional information for counseling intern</h1>
		<h2>Contact</h2>
		<p>Denise Peterson, Ph.D.</p>
		<h2>Email </h2>
		<p>dpeterson@scottyshouse.org</p>
	</div>
</div>
