<div class="col-sm-3 center">
	<h2>Mailing Address</h2>
	<p>2424 Kent Street Bryan, Texas 77802</p>
	<h2>Phone</h2>
	<p>(979) 703-8813</p>
	<h2>Fax</h2>
	<p>(979) 822-0608</p>
	<h2>Email</h2>
	<p>info@scottyshouse.org</p>
</div>
