<div class="center jumbotron">
  <h1>Welcome to Scotty's House intership application system</h1>

  <iframe width="400" height="270" src="https://www.youtube.com/embed/fTFEvAEYEJU" frameborder="0" allowfullscreen></iframe>

  <div><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>
</div>


