<div class="center jumbotron">
  <div>
  <h1>Welcome to Scotty's House</h1>
  <h3>Clinical services internship application</h3>
  <h3>This internship application is for master's and doctoral level counseling, social work, and psychology interns.
  </h3>
  </div>
  <iframe width="400" height="270" src="https://www.youtube.com/embed/fTFEvAEYEJU" frameborder="0" allowfullscreen></iframe>

  <div><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>
</div>


