<div class="col-md-2"></div>
<div class="col-md-8 requirements">

	<h1>Counseling Internship Requirement</h1>
    <p>If apply, please first finish the Counseling Intern application form. And then please also complete the Intern Agreement pdf, the Pledge of Confidentiality pdf, the Non-disclosure Form pdf and the Background Check pdf in Resouces above and send to info@scottyshouse.org</p>
	<div>

	<h2>Student Internship Selection Criteria</h2>
	<ol>
		<li>Students must be working toward a master's degree or higher in counseling, social work or other related field, at an accredited university.</li>
		<li>Students from CACREP approved programs and APA accredited programs will be given preference.</li>
		<li>Students should have completed practicum, and also coursework in counseling theories, ethics, multicultural counseling and group counseling prior to beginning internship.</li>
		<li>Students with play therapy training/experience will be given preference.</li>
		<li>Bilingual candidates will be given preference.</li>
		<li>Students must pass criminal and CPS background checks.</li>
	</ol>

	<h2>Student Internship Requirements</h2>
	<ol>
		<li>Students must commit to 2 semesters at Scotty's House CAC.  For those on alternative schedules, we request a minimum commitment of 26 weeks.</li>
		<li>Students are required to spend at least 10 to 15 hours per week at Scotty's House CAC during their internship.</li>
		<li>Students are required to spend at least 10 to 15 hours per week at Scotty's House CAC during their internship.</li>
		<li>Students must be willing and able to see adults and children of all ages in individual, family and group treatment.</li>
		<li>Students are required to attend training prior to beginning their internship.</li>
	</ol>

	<h2>Post Graduate Internship Selection Criteria</h2>
	<ol>
		<li>Interns must have graduated from a university with a master's level degree in a mental health degree and have a temporary license in a mental health profession.</li>
		<li>Interns from CACREP approved programs will be given preference.</li>
		<li>Interns should have completed coursework in counseling theories, ethics, multicultural counseling and group counseling prior to beginning internship.</li>
		<li>Interns with play therapy training/experience will be given preference.</li>
		<li>Bilingual candidates will be given preference.</li>
		<li>Interns must pass criminal and CPS background checks.</li>
	</ol>

	<h2>Post Graduate Internship Requirements</h2>
	<ol>
		<li>Interns must commit to 12 months at Scotty's House CAC. </li>
		<li>Interns a required to spend at least 10 to 15 hours per week at Scotty's House CAC.</li>
		<li>Interns are required to participate in one hour per week of individual supervision and attend group intern supervision if offered. </li>
		<li>Interns must be willing and able to see adults and children of all ages in individual, family and group treatment.</li>
		<li>Interns are required to attend a training prior to beginning their internship.</li>
	</ol>
	
	</div>
</div>

