// Place all the styles related to the Applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list-size {
  font-size: 1.7em;
  margin-top: 15px;
}

#add-top{
	margin-top: 20px;
}

#none{
	color: grey;
  font-size: 3em;
  margin-top: 20px;
}
