<footer class="footer">
  <small>
    Scotty's House. 2424 Kent Street Bryan, Texas 77802
  </small>
  <nav>
  	<% if !current_user.nil? && current_user.admin? %>
			<%= link_to "Administrator Interface", applicant_path(current_user), class: "pull-right" %>
		<% end %>
  </nav>
</footer>
